<div class="order-item">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <%= render 'item', product: line_item.product, quantity: line_item.quantity.to_i %>
        <% end %>
      </tbody>
    </table>
  </div>