<li class="dropdown list-unstyled categories-dropdown">
      <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Categories
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu animate slideIn">
        <% @categories.each do |category| %>
          <li><%= link_to "#{category.name}", category_path(category) %></li>
        <% end %>
      </ul>
    </li>