<li class="dropdown list-unstyled categories-dropdown">
      <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <%= items.model.name.pluralize %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu animate slideIn">
        <% items.each do |item| %>
          <li><%= link_to "#{item.name}", url_for(item) %></li>
        <% end %>
      </ul>
    </li>