// Vendor
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

// App
@import 'nav';
@import 'categories';
@import 'products';
@import 'orders';
@import 'about';
@import 'admin/dashboard';

// Global
body {
	padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
	display: inline;
}

.sale-banner {
	font-size: 30px;
	text-align: center;
}
