// Vendor
@import 'bootstrap-sprockets';
@import 'font-awesome';
@import 'bootstrap';

// App
@import 'nav';
@import 'categories';
@import 'products';
@import 'orders';
@import 'about';
@import 'admin/dashboard';

// Global
body {
	padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
	display: inline;
}

.sale-banner {
	font-size: 30px;
	text-align: center;
}

#alert {
	text-align: center;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 24px;
	font-weight: 900;
	color: red;
}
