.navbar-brand {
	font-size: 24px;
}

li {
	font-size: 20px;
}

#junglist {
	width: 140px;
	position: relative;
	top: -12px;
	filter: brightness(0) saturate(100%);
}

// @media (prefers-color-scheme: light) {
// 	#junglist {
// 		filter: brightness(0) saturate(100%);
// 	}
// }

// @media (prefers-color-scheme: dark) {
// 	#junglist {
// 		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%)
// 			hue-rotate(49deg) brightness(117%) contrast(94%);
// 	}
// }

.logged-in > a,
.logged-out > a {
	display: inline-block;
	font-size: 20px;
	color: rgb(13, 52, 124);
	list-style-type: none;
}

.animate {
	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}
	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}
